In [17]:
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoAlertPresentException
from selenium.common.exceptions import NoSuchElementException
from webdrivermanager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup as bs
import matplotlib.ticker as ticker
from urllib.request import urlopen
import matplotlib.dates as mdates
import matplotlib.pyplot as plt
from selenium import webdriver
from bs4 import BeautifulSoup
from datetime import datetime
from selenium import webdriver
import seaborn as sns
import pandas as pd
import numpy as np
import selenium
import requests
import unittest
import time
import re
import sys

In [18]:
def scroll(driver, timeout):
    scroll_pause_time = timeout

    # Get scroll height
    last_height = driver.execute_script("return document.body.scrollHeight")

    while True:
        # Scroll down to bottom
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        # Wait to load page
        time.sleep(scroll_pause_time)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.body.scrollHeight")
        if new_height == last_height:
            # If heights are the same it will exit the function
            break
        last_height = new_height

def all_links(url):
    headers = {"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/20100101 Firefox/66.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
    # Setup the driver. This one uses chrome with some options and a path to the chromedriver
    driver = webdriver.Chrome()
    # implicitly_wait tells the driver to wait before throwing an exception
    driver.implicitly_wait(5)
    # driver.get(url) opens the page
    driver.get('https://collegedunia.com/usa-colleges')
    # This starts the scrolling by passing the driver and a timeout
    scroll(driver, 5)
    # Once scroll returns bs4 parsers the page_source
    soup = BeautifulSoup(driver.page_source, 'lxml')
    # Them we close the driver as soup_a is storing the page source
    driver.close()
    
    alls = []
    
    for d in soup.findAll('div', attrs={'class':'jsx-1879893061 listing-block text-uppercase bg-white position-relative'}):

                name = d.find('h3', attrs={'class':'jsx-1879893061 text-white font-weight-bold text-md m-0'})
                location = d.find('span', attrs={'class':'jsx-1879893061 mr-1'})
                rating = d.find('span', attrs={'class':'jsx-1879893061 rating-text text-white font-weight-bold text-base d-block text-right'})
                scores = d.find('span', attrs={'class':'jsx-1879893061 d-block'})
                price = d.find('span', attrs={'class':'jsx-1879893061 d-flex justify-content-between'})

                all1=[]

                if name is not None:
                    #print(n[0]['alt'])
                    all1.append(name.text)
                else:
                    all1.append("N/A")

                if location is not None:
                    all1.append(location.text)
                else:    
                    all1.append('N/A')

                if rating is not None:
                    #print(rating.text)
                    all1.append(rating.text)
                else:
                    all1.append('N/A')

                if scores is not None:
                    #print(price.text)
                    all1.append(scores.text)
                else:
                    all1.append('N/A')     

                if price is not None:
                    #print(price.text)
                    all1.append(price.text)
                else:
                    all1.append('N/A')
                alls.append(all1)    
    return alls

In [19]:
results = []
for i in range(1):
    results.append(all_links(i))
flatten = lambda l: [item for sublist in l for item in sublist]
df = pd.DataFrame(flatten(results),columns=['UNIVERSITY NAME','LOCATION','RATING','SCORES','PRICE'])

#cleaning data for ML and Data Engineering. 

df["UNIVERSITY NAME"] = df["UNIVERSITY NAME"].str.replace(',', '')
df['UNIVERSITY NAME'] = pd.to_numeric(df['UNIVERSITY NAME'], errors='ignore')

df["LOCATION"] = df["LOCATION"].str.replace(',', '')
df["LOCATION"] = df["LOCATION"].str.replace('usa', '')

df['RATING'] = df['RATING'].str.replace('/', '')
df['RATING'] = df['RATING'].str.replace('10', '')

df['PRICE'] = df['PRICE'].str.extract('([0-9][,.]*[0-9]*)')
#df['PRICE'] = df['PRICE'].apply(lambda x: find_number(x))

df[['GREGMAT','IELTSTOEFL']] = df.SCORES.str.split("|",expand=True)

df.to_csv('usa.csv', index=False, encoding='utf-8')

In [20]:
df = pd.read_csv("usa.csv")
df.shape

(60, 7)

In [21]:
df.head(10)

,UNIVERSITY NAME,LOCATION,RATING,SCORES,PRICE,GREGMAT,IELTSTOEFL
0,Harvard University Cambridge,Massachusetts,0.0,GRE 292 | TOEFL 100,56.0,GRE 292,TOEFL 100
1,Stanford University Stanford,California,9.3,GMAT 730 | PTE 68,74.0,GMAT 730,PTE 68
2,Massachusetts Institute of Technology Cambridge,Massachusetts,9.0,GRE 311 | TOEFL 90,136.0,GRE 311,TOEFL 90
3,University of California Berkeley,California,8.4,GRE 300 | IELTS 7,26.0,GRE 300,IELTS 7
4,Columbia University New York City,New York,8.4,GMAT 720 | TOEFL 100,77.0,GMAT 720,TOEFL 100
5,The University of Chicago Chicago,Illinois,8.4,GMAT 570 | TOEFL 100,72.0,GMAT 570,TOEFL 100
6,California Institute of Technology Pasadena,California,8.3,NaN,62.0,NaN,NaN
7,Princeton University Princeton,New Jersey,8.3,GRE 298 | TOEFL 100,54.0,GRE 298,TOEFL 100
8,Yale University New Haven,Connecticut,8.1,GRE 322 | IELTS 7,74.0,GRE 322,IELTS 7
9,Cornell University Ithaca,New York,7.9,GMAT 700 | TOEFL 100,71.0,GMAT 700,TOEFL 100

In [22]:
df.dtypes

UNIVERSITY NAME     object
LOCATION            object
RATING             float64
SCORES              object
PRICE              float64
GREGMAT             object
IELTSTOEFL          object
dtype: object

In [23]:
data = df.sort_values(["RATING"], axis=0, ascending=False)[:75]
data

,UNIVERSITY NAME,LOCATION,RATING,SCORES,PRICE,GREGMAT,IELTSTOEFL
1,Stanford University Stanford,California,9.3,GMAT 730 | PTE 68,74.0,GMAT 730,PTE 68
2,Massachusetts Institute of Technology Cambridge,Massachusetts,9.0,GRE 311 | TOEFL 90,136.0,GRE 311,TOEFL 90
3,University of California Berkeley,California,8.4,GRE 300 | IELTS 7,26.0,GRE 300,IELTS 7
4,Columbia University New York City,New York,8.4,GMAT 720 | TOEFL 100,77.0,GMAT 720,TOEFL 100
5,The University of Chicago Chicago,Illinois,8.4,GMAT 570 | TOEFL 100,72.0,GMAT 570,TOEFL 100
6,California Institute of Technology Pasadena,California,8.3,NaN,62.0,NaN,NaN
7,Princeton University Princeton,New Jersey,8.3,GRE 298 | TOEFL 100,54.0,GRE 298,TOEFL 100
8,Yale University New Haven,Connecticut,8.1,GRE 322 | IELTS 7,74.0,GRE 322,IELTS 7
9,Cornell University Ithaca,New York,7.9,GMAT 700 | TOEFL 100,71.0,GMAT 700,TOEFL 100
10,University of Pennsylvania Philadelphia,Pennsylvania,7.9,GMAT 730 | TOEFL 100,81.0,GMAT 730,TOEFL 100
12,Johns Hopkins University Baltimore,Maryland,7.8,GMAT 670 | TOEFL 100,64.0,GMAT 670,TOEFL 100
11,University of California Los Angeles Los Angeles,California,7.8,GRE 326 | IELTS 7,65.0,GRE 326,IELTS 7
13,University of Michigan Ann Arbor,Michigan,7.5,IELTS 6.5,63.0,IELTS 6.5,NaN
14,Northwestern University Evanston,Illinois,7.3,GMAT 720 | IELTS 7,74.0,GMAT 720,IELTS 7
15,University of California San Diego,California,7.3,GMAT 650 | TOEFL 85,57.0,GMAT 650,TOEFL 85
16,University of Washington Seattle,Washington,7.2,GRE 298 | TOEFL 92,3.5,GRE 298,TOEFL 92
17,New York University New York City,New York,6.9,GMAT 690 | TOEFL 90,79.0,GMAT 690,TOEFL 90
18,Duke University Durham,North Carolina,6.9,GMAT 660 | TOEFL 79,70.0,GMAT 660,TOEFL 79
19,University of Wisconsin Madison,Wisconsin,6.8,GMAT 650 | IELTS 7.5,42.0,GMAT 650,IELTS 7.5
20,Brown University Providence,Rhode Island,6.7,IELTS 7,59.0,IELTS 7,NaN
21,Washington University St. Louis,Missouri,6.5,NaN,54.0,NaN,NaN
22,Carnegie Mellon University Pittsburgh,Pennsylvania,6.4,GMAT 680 | TOEFL 102,70.0,GMAT 680,TOEFL 102
23,Emory University Atlanta,Georgia,6.3,GMAT 680 | IELTS 7,98.0,GMAT 680,IELTS 7
24,University of North Carolina Chapel Hill,North Carolina,6.2,GMAT 690 | TOEFL 100,66.0,GMAT 690,TOEFL 100
30,University of California Davis,California,6.1,NaN,33.0,NaN,NaN
27,Ohio State University Columbus,Ohio,6.1,GMAT 660 | IELTS 7,55.0,GMAT 660,IELTS 7
29,Michigan State University East Lansing,Michigan,6.1,GRE 298 | IELTS 6.5,52.0,GRE 298,IELTS 6.5
28,Georgia Institute of Technology Atlanta,Georgia,6.1,GMAT 680 | IELTS 7,40.0,GMAT 680,IELTS 7
25,University of Minnesota - Twin Cities Minneapolis,Minnesota,6.1,NaN,13.0,NaN,NaN
26,Boston University Boston,Massachusetts,6.1,GRE 298 | TOEFL 84,58.0,GRE 298,TOEFL 84
31,University of Illinois - Urbana Champaign Urbana,Illinois,6.0,NaN,27.0,NaN,NaN
32,University of California San Francisco,California,6.0,NaN,47.0,NaN,NaN
33,University of Pittsburgh Pittsburgh,Pennsylvania,6.0,GMAT 600 | TOEFL 100,32.0,GMAT 600,TOEFL 100
34,University of Southern California Los Angeles,California,5.9,GRE 317 | TOEFL 90,34.0,GRE 317,TOEFL 90
35,Pennsylvania State University State College,Pennsylvania,5.9,NaN,38.0,NaN,NaN
36,University of California Santa Barbara,California,5.9,NaN,16.0,NaN,NaN
37,Dartmouth College Hanover,New Hampshire,5.9,IELTS 7,55.0,IELTS 7,NaN
38,University of Maryland College Park,Maryland,5.9,GMAT 700 | TOEFL 80,37.0,GMAT 700,TOEFL 80
42,University of Alabama Birmingham,Alabama,5.8,NaN,38.0,NaN,NaN
41,Case Western Reserve University Cleveland,Ohio,5.8,IELTS 7,38.0,IELTS 7,NaN
40,Purdue University West Lafayette,Indiana,5.8,NaN,48.0,NaN,NaN
39,University of Rochester Rochester,New York,5.8,GRE 292 | IELTS 7,79.0,GRE 292,IELTS 7
43,Rice University Houston,Texas,5.7,TOEFL 90,48.0,TOEFL 90,NaN
44,Vanderbilt University Nashville,Tennessee,5.7,GMAT 690 | TOEFL 101,58.0,GMAT 690,TOEFL 101
45,Texas A&M University College Station,Texas,5.7,GRE 309 | IELTS 6.5,20.0,GRE 309,IELTS 6.5
46,University of Colorado Boulder,Colorado,5.7,NaN,33.0,NaN,NaN
47,Tufts University Medford,Massachusetts,5.6,TOEFL 100,51.0,TOEFL 100,NaN
48,University of Notre Dame Notre Dame,Indiana,5.6,GMAT 590 | TOEFL 100,28.0,GMAT 590,TOEFL 100
49,University of Florida Gainesville,Florida,5.6,GMAT 680 | TOEFL 80,35.0,GMAT 680,TOEFL 80
50,Rockefeller University New York City,New York,5.6,NaN,NaN,NaN,NaN
53,University of Cincinnati Cincinnati,Ohio,5.5,GMAT 650 | TOEFL 90,29.0,GMAT 650,TOEFL 90
55,University of Miami Coral Gables,Florida,5.5,GRE 300 | TOEFL 80,63.0,GRE 300,TOEFL 80
54,University of Virginia Charlottesville,Virginia,5.5,GMAT 700 | TOEFL 106,68.0,GMAT 700,TOEFL 106
56,Georgetown University Washington,District of Columbia,5.5,GMAT 690 | IELTS 7,55.0,GMAT 690,IELTS 7
52,University of California Irvine,California,5.5,TOEFL 80,26.0,TOEFL 80,NaN
51,Arizona State University Tempe,Arizona,5.5,GMAT 680 | IELTS 6.5,25.0,GMAT 680,IELTS 6.5
58,Indiana University Bloomington,Indiana,5.4,GMAT 660 | TOEFL 100,51.0,GMAT 660,TOEFL 100
59,University of Utah Salt Lake City,Utah,5.4,GMAT 640 | TOEFL 100,31.0,GMAT 640,TOEFL 100
57,University of Illinois Chicago,Illinois,5.4,GMAT 580 | IELTS 7.5,23.0,GMAT 580,IELTS 7.5
0,Harvard University Cambridge,Massachusetts,0.0,GRE 292 | TOEFL 100,56.0,GRE 292,TOEFL 100

In [24]:
from bokeh.models import ColumnDataSource
from bokeh.transform import dodge
import math
from bokeh.io import curdoc
curdoc().clear()
from bokeh.io import push_notebook, show, output_notebook
from bokeh.layouts import row
from bokeh.plotting import figure
from bokeh.transform import factor_cmap
from bokeh.models import Legend
output_notebook()
from bokeh.io import output_file, show
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6
from bokeh.plotting import figure
from bokeh.transform import factor_cmap
from bokeh.models import ColumnDataSource
from bokeh.palettes import Spectral6
from bokeh.plotting import figure

In [25]:
p = figure(x_range=data.iloc[:,0], plot_width=960, plot_height=600, title="HIGHEST RATED UNIVESITY:", toolbar_location=None, tools="")

p.vbar(x=data.iloc[:,0], top=data.iloc[:,2], width=0.6, fill_color="green")

p.xgrid.grid_line_color = None
p.y_range.start = 0
p.xaxis.major_label_orientation = math.pi/2

show(p)

In [26]:
data = df.sort_values(["PRICE"], axis=0, ascending=False)[:75]
data

,UNIVERSITY NAME,LOCATION,RATING,SCORES,PRICE,GREGMAT,IELTSTOEFL
2,Massachusetts Institute of Technology Cambridge,Massachusetts,9.0,GRE 311 | TOEFL 90,136.0,GRE 311,TOEFL 90
23,Emory University Atlanta,Georgia,6.3,GMAT 680 | IELTS 7,98.0,GMAT 680,IELTS 7
10,University of Pennsylvania Philadelphia,Pennsylvania,7.9,GMAT 730 | TOEFL 100,81.0,GMAT 730,TOEFL 100
39,University of Rochester Rochester,New York,5.8,GRE 292 | IELTS 7,79.0,GRE 292,IELTS 7
17,New York University New York City,New York,6.9,GMAT 690 | TOEFL 90,79.0,GMAT 690,TOEFL 90
4,Columbia University New York City,New York,8.4,GMAT 720 | TOEFL 100,77.0,GMAT 720,TOEFL 100
1,Stanford University Stanford,California,9.3,GMAT 730 | PTE 68,74.0,GMAT 730,PTE 68
14,Northwestern University Evanston,Illinois,7.3,GMAT 720 | IELTS 7,74.0,GMAT 720,IELTS 7
8,Yale University New Haven,Connecticut,8.1,GRE 322 | IELTS 7,74.0,GRE 322,IELTS 7
5,The University of Chicago Chicago,Illinois,8.4,GMAT 570 | TOEFL 100,72.0,GMAT 570,TOEFL 100
9,Cornell University Ithaca,New York,7.9,GMAT 700 | TOEFL 100,71.0,GMAT 700,TOEFL 100
18,Duke University Durham,North Carolina,6.9,GMAT 660 | TOEFL 79,70.0,GMAT 660,TOEFL 79
22,Carnegie Mellon University Pittsburgh,Pennsylvania,6.4,GMAT 680 | TOEFL 102,70.0,GMAT 680,TOEFL 102
54,University of Virginia Charlottesville,Virginia,5.5,GMAT 700 | TOEFL 106,68.0,GMAT 700,TOEFL 106
24,University of North Carolina Chapel Hill,North Carolina,6.2,GMAT 690 | TOEFL 100,66.0,GMAT 690,TOEFL 100
11,University of California Los Angeles Los Angeles,California,7.8,GRE 326 | IELTS 7,65.0,GRE 326,IELTS 7
12,Johns Hopkins University Baltimore,Maryland,7.8,GMAT 670 | TOEFL 100,64.0,GMAT 670,TOEFL 100
13,University of Michigan Ann Arbor,Michigan,7.5,IELTS 6.5,63.0,IELTS 6.5,NaN
55,University of Miami Coral Gables,Florida,5.5,GRE 300 | TOEFL 80,63.0,GRE 300,TOEFL 80
6,California Institute of Technology Pasadena,California,8.3,NaN,62.0,NaN,NaN
20,Brown University Providence,Rhode Island,6.7,IELTS 7,59.0,IELTS 7,NaN
44,Vanderbilt University Nashville,Tennessee,5.7,GMAT 690 | TOEFL 101,58.0,GMAT 690,TOEFL 101
26,Boston University Boston,Massachusetts,6.1,GRE 298 | TOEFL 84,58.0,GRE 298,TOEFL 84
15,University of California San Diego,California,7.3,GMAT 650 | TOEFL 85,57.0,GMAT 650,TOEFL 85
0,Harvard University Cambridge,Massachusetts,0.0,GRE 292 | TOEFL 100,56.0,GRE 292,TOEFL 100
37,Dartmouth College Hanover,New Hampshire,5.9,IELTS 7,55.0,IELTS 7,NaN
27,Ohio State University Columbus,Ohio,6.1,GMAT 660 | IELTS 7,55.0,GMAT 660,IELTS 7
56,Georgetown University Washington,District of Columbia,5.5,GMAT 690 | IELTS 7,55.0,GMAT 690,IELTS 7
21,Washington University St. Louis,Missouri,6.5,NaN,54.0,NaN,NaN
7,Princeton University Princeton,New Jersey,8.3,GRE 298 | TOEFL 100,54.0,GRE 298,TOEFL 100
29,Michigan State University East Lansing,Michigan,6.1,GRE 298 | IELTS 6.5,52.0,GRE 298,IELTS 6.5
47,Tufts University Medford,Massachusetts,5.6,TOEFL 100,51.0,TOEFL 100,NaN
58,Indiana University Bloomington,Indiana,5.4,GMAT 660 | TOEFL 100,51.0,GMAT 660,TOEFL 100
40,Purdue University West Lafayette,Indiana,5.8,NaN,48.0,NaN,NaN
43,Rice University Houston,Texas,5.7,TOEFL 90,48.0,TOEFL 90,NaN
32,University of California San Francisco,California,6.0,NaN,47.0,NaN,NaN
19,University of Wisconsin Madison,Wisconsin,6.8,GMAT 650 | IELTS 7.5,42.0,GMAT 650,IELTS 7.5
28,Georgia Institute of Technology Atlanta,Georgia,6.1,GMAT 680 | IELTS 7,40.0,GMAT 680,IELTS 7
42,University of Alabama Birmingham,Alabama,5.8,NaN,38.0,NaN,NaN
35,Pennsylvania State University State College,Pennsylvania,5.9,NaN,38.0,NaN,NaN
41,Case Western Reserve University Cleveland,Ohio,5.8,IELTS 7,38.0,IELTS 7,NaN
38,University of Maryland College Park,Maryland,5.9,GMAT 700 | TOEFL 80,37.0,GMAT 700,TOEFL 80
49,University of Florida Gainesville,Florida,5.6,GMAT 680 | TOEFL 80,35.0,GMAT 680,TOEFL 80
34,University of Southern California Los Angeles,California,5.9,GRE 317 | TOEFL 90,34.0,GRE 317,TOEFL 90
30,University of California Davis,California,6.1,NaN,33.0,NaN,NaN
46,University of Colorado Boulder,Colorado,5.7,NaN,33.0,NaN,NaN
33,University of Pittsburgh Pittsburgh,Pennsylvania,6.0,GMAT 600 | TOEFL 100,32.0,GMAT 600,TOEFL 100
59,University of Utah Salt Lake City,Utah,5.4,GMAT 640 | TOEFL 100,31.0,GMAT 640,TOEFL 100
53,University of Cincinnati Cincinnati,Ohio,5.5,GMAT 650 | TOEFL 90,29.0,GMAT 650,TOEFL 90
48,University of Notre Dame Notre Dame,Indiana,5.6,GMAT 590 | TOEFL 100,28.0,GMAT 590,TOEFL 100
31,University of Illinois - Urbana Champaign Urbana,Illinois,6.0,NaN,27.0,NaN,NaN
52,University of California Irvine,California,5.5,TOEFL 80,26.0,TOEFL 80,NaN
3,University of California Berkeley,California,8.4,GRE 300 | IELTS 7,26.0,GRE 300,IELTS 7
51,Arizona State University Tempe,Arizona,5.5,GMAT 680 | IELTS 6.5,25.0,GMAT 680,IELTS 6.5
57,University of Illinois Chicago,Illinois,5.4,GMAT 580 | IELTS 7.5,23.0,GMAT 580,IELTS 7.5
45,Texas A&M University College Station,Texas,5.7,GRE 309 | IELTS 6.5,20.0,GRE 309,IELTS 6.5
36,University of California Santa Barbara,California,5.9,NaN,16.0,NaN,NaN
25,University of Minnesota - Twin Cities Minneapolis,Minnesota,6.1,NaN,13.0,NaN,NaN
16,University of Washington Seattle,Washington,7.2,GRE 298 | TOEFL 92,3.5,GRE 298,TOEFL 92
50,Rockefeller University New York City,New York,5.6,NaN,NaN,NaN,NaN

In [27]:
p = figure(x_range=data.iloc[:,0], plot_width=960, plot_height=600, title="MOST EXPENSIVE UNIVESITY:", toolbar_location=None, tools="")

p.vbar(x=data.iloc[:,0], top=data.iloc[:,4], width=0.6, fill_color="yellow")
p.xgrid.grid_line_color = None
p.y_range.start = 0
p.xaxis.major_label_orientation = math.pi/2

show(p)